@using NongSanZeno.Models
@model List<GioHang>

@{
    ViewBag.Title = "Giohang";
    Layout = "~/Views/Layout/_LayoutGioHang.cshtml";
}

<div class="dYFPlI">
    <div class="_6UhhZd">
        <div class="container">
            <div class="vVXcyt">
                <a class="pCI2Oe" href="/">
                    <svg viewBox="0 0 192 65" class="shopee-svg-icon icon-shopee-logo">
                        <g fill-rule="evenodd">
                            <a href="@Url.Action("TrangChu","Home")" target="_self">
                                <img class="ttr_menu_logo" src="~/images/logo.png" style="width:75px; height:56px">
                            </a>
                        </g>
                    </svg>
                    <div class="_4cUwRX" style="margin-top:0.9rem">
                        Thanh toán
                        <a href="@Url.Action("NongSanZeno", "SanPham")" target="_self"></a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    @{
        tbKhachHang kh = (tbKhachHang)Session["Taikhoan"];
        tbDonHang dh = new tbDonHang();

    }
    @using (Html.BeginForm())
    {
        <div role="main" class="_8ZMqxt">
            @Html.ValidationSummary(true)
            <div class="KbJ00X">
                <div class="NxjxYL"></div>
                <div class="EQBEfe">
                    <div class="_7ZP-sx">
                        <div class="Kh34EJ">
                            <div class="_9VHkyQ">
                                <svg height="16" viewBox="0 0 12 16" width="12" class="shopee-svg-icon icon-location-marker">
                                    <path d="M6 3.2c1.506 0 2.727 1.195 2.727 2.667 0 1.473-1.22 2.666-2.727 2.666S3.273 7.34 3.273 5.867C3.273 4.395 4.493 3.2 6 3.2zM0 6c0-3.315 2.686-6 6-6s6 2.685 6 6c0 2.498-1.964 5.742-6 9.933C1.613 11.743 0 8.498 0 6z" fill-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div>Địa chỉ nhận hàng</div>
                        </div>
                    </div>
                    <div class="fnands">
                        <div>
                            <div class="Y3QA5S">
                                <div class="_3yvPt8">@kh.TenKH (+84) @kh.DienThoaiKH</div>
                                <div class="iXqine">@kh.DiaChiKH</div>
                                @*<div class="j3tnPu">Mặc định</div>*@
                            </div>
                        </div>
                        <div class="g3BSHI">Thay đổi</div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="ZrE0do">
                <div class="w6riq3">
                    <div class="-JzzK5">
                        <div class="HTDM2R OiE33Y">
                            <div class="wXtDZ+">Sản phẩm</div>
                        </div>
                        <div class="HTDM2R obwca8"></div>
                        <div class="HTDM2R">Đơn giá</div>
                        <div class="HTDM2R">Số lượng</div>
                        <div class="HTDM2R eiM3n1">Thành tiền</div>
                    </div>
                </div>
                <div>
                    <div class="dwwHJ-">
                        @foreach (var item in Model)
                        {
                            <div>
                                <div class="nF6yNn">
                                    <div class="yknSi4">
                                        <div>
                                            <svg width="17" height="16" viewBox="0 0 17 16" class="Vqonym">
                                                <path d="M1.95 6.6c.156.804.7 1.867 1.357 1.867.654 0 1.43 0 1.43-.933h.932s0 .933 1.155.933c1.176 0 1.15-.933 1.15-.933h.984s-.027.933 1.148.933c1.157 0 1.15-.933 1.15-.933h.94s0 .933 1.43.933c1.368 0 1.356-1.867 1.356-1.867H1.95zm11.49-4.666H3.493L2.248 5.667h12.437L13.44 1.934zM2.853 14.066h11.22l-.01-4.782c-.148.02-.295.042-.465.042-.7 0-1.436-.324-1.866-.86-.376.53-.88.86-1.622.86-.667 0-1.255-.417-1.64-.86-.39.443-.976.86-1.643.86-.74 0-1.246-.33-1.623-.86-.43.536-1.195.86-1.895.86-.152 0-.297-.02-.436-.05l-.018 4.79zM14.996 12.2v.933L14.984 15H1.94l-.002-1.867V8.84C1.355 8.306 1.003 7.456 1 6.6L2.87 1h11.193l1.866 5.6c0 .943-.225 1.876-.934 2.39v3.21z" stroke-width=".3" stroke="#333" fill="#333" fill-rule="evenodd"></path>
                                            </svg>
                                        </div>
                                        <span class="WJIXj0">@item.tensp</span>
                                        <div class="+-FqSc">
                                            @*<svg viewBox="0 0 16 16" class="shopee-svg-icon +Nu1h5">
                                                <g fill-rule="evenodd">
                                                    <path d="M15 4a1 1 0 01.993.883L16 5v9.932a.5.5 0 01-.82.385l-2.061-1.718-8.199.001a1 1 0 01-.98-.8l-.016-.117-.108-1.284 8.058.001a2 2 0 001.976-1.692l.018-.155L14.293 4H15zm-2.48-4a1 1 0 011 1l-.003.077-.646 8.4a1 1 0 01-.997.923l-8.994-.001-2.06 1.718a.5.5 0 01-.233.108l-.087.007a.5.5 0 01-.492-.41L0 11.732V1a1 1 0 011-1h11.52zM3.646 4.246a.5.5 0 000 .708c.305.304.694.526 1.146.682A4.936 4.936 0 006.4 5.9c.464 0 1.02-.062 1.608-.264.452-.156.841-.378 1.146-.682a.5.5 0 10-.708-.708c-.185.186-.445.335-.764.444a4.004 4.004 0 01-2.564 0c-.319-.11-.579-.258-.764-.444a.5.5 0 00-.708 0z"></path>
                                                </g>
                                            </svg>Chat ngay*@
                                        </div>
                                    </div>
                                    @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { id = item.masp }))
                                    {
                                        <div class="CZ6uu2">
                                            <div class="_6kMvNg ka6CzP">
                                                <div class="_4MGXB1 c7N4lb">
                                                    <img class="GCGEKm" src="~/images/sanpham/@item.anhbia" alt="Alternate Text" width="40" height="40">
                                                    <span class="F8X-cZ">
                                                        <span class="tPzkNt">@item.tensp</span>
                                                    </span>
                                                </div>
                                                <div class="_4MGXB1 wE0Rsh">
                                                    <span class="KYRrlx">@*Loại: hồng*@</span>
                                                </div>
                                                <div class="_4MGXB1">₫@String.Format("{0:0,0 }", @item.dongia)</div>
                                                <div class="_4MGXB1">@item.soluong</div>
                                                <div class="_4MGXB1 _8fgmps">₫@String.Format("{0:0,0 }", @item.thanhtien)</div>                                             
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        <div class="kfKL6K">
                            <div class="wWp9Rn _7-SGSz">
                                <div class="-bFs2Q">
                                    <span>Lời nhắn:</span>
                                    <div class="jSc1M9">
                                        <div class="l7vuWW XfjvIa">
                                            <div class="bue9pr XtXldU">
                                                <input class="_6E2RgG" type="text" placeholder="Lưu ý cho Người bán..." name="GhiChu" required="" value="">
                                                <span class="icon2"><i aria-hidden="true"></i></span>
                                            </div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wWp9Rn GoSC7d">
                                <div class="sYTSo9">Đơn vị vận chuyển:</div>
                                <div class="TrbqGd"><div>GHN EXPRESS</div></div>
                                <div class="_2grHQK"></div>
                                <div class="NWGbOL" style="color: #ee4d2d; font-size:14px">Nhận hàng vào <input type="date" name="Ngaygiao" required="" value="" /></div>
                                <div class="_3Gb6E1">Ngày đặt @DateTime.Now.ToShortDateString()</div>
                                <div class="pM3XnN"></div>
                                <div class="uneQgd">₫50.000</div>
                            </div>
                        </div>
                        <div class="BbOmi+">
                            <div class="lYtB1r">
                                <div class="_4nelpz">Tổng số tiền (@ViewBag.TongSoLuong sản phẩm):</div>
                                <div class="_31ayp3">₫@String.Format("{0:0,0 }", ViewBag.TongTien)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kRed1l">
                <div class="HgQ4yt">
                    <div>
                        <div class="checkout-payment-method-view__current checkout-payment-setting">
                            <div class="checkout-payment-method-view__current-title">Phương thức thanh toán</div>
                            <div class="checkout-payment-setting__payment-methods-tab">
                                <span tabindex="0">
                                    <button class="product-variation" aria-label="Ví ShopeePay" aria-disabled="false">
                                        Ví Momo
                                    </button>
                                </span>
                                <span tabindex="0">
                                    <button class="product-variation" aria-label="Thẻ Tín dụng/Ghi nợ" aria-disabled="false">Thẻ Tín dụng/Ghi nợ</button>
                                </span>
                                <span tabindex="0">
                                    <button class="product-variation" aria-label="" aria-disabled="true">
                                        <div class="voucher-container">
                                            <span>VNPay</span>
                                        </div>
                                    </button>
                                </span>
                                <span tabindex="0">
                                    <button class="product-variation product-variation--selected" aria-label="Thanh toán khi nhận hàng" aria-disabled="false">
                                        Thanh toán khi nhận hàng
                                        <div class="product-variation__tick">
                                            <svg enable-background="new 0 0 12 12" viewBox="0 0 12 12" x="0" y="0" class="shopee-svg-icon icon-tick-bold">
                                                <g>
                                                    <path d="m5.2 10.9c-.2 0-.5-.1-.7-.2l-4.2-3.7c-.4-.4-.5-1-.1-1.4s1-.5 1.4-.1l3.4 3 5.1-7c .3-.4 1-.5 1.4-.2s.5 1 .2 1.4l-5.7 7.9c-.2.2-.4.4-.7.4 0-.1 0-.1-.1-.1z"></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </button>

                                </span>
                            </div>
                        </div>
                        <div class="_3hU2wO">
                            <div class="hVo8me">
                                <div class="WHQQMV">Thanh toán khi nhận hàng</div>
                                <div class="g5caBa">
                                    <div class="cOrEtX">Phí thu hộ: ₫0 VNĐ. Ưu đãi về phí vận chuyển (nếu có) áp dụng cả với phí thu hộ.</div>
                                </div>
                            </div>
                        </div>
                        <div class="checkout-payment-setting__payment-method-options">
                            @*<div class="checkout-payment-setting__banners">
                                    <div class="channel-banner channel-banner__single" style="background-color: rgb(238, 77, 45);">
                                        <div class="channel-banner__icon" style="background-image: url(&quot;http://f.shopee.vn/file/2d02419347d8bc6b55d64743d1f7c394&quot;);"></div>
                                        <div class="channel-banner__logo" style="background-image: url(&quot;http://f.shopee.vn/file/46607a2f79a5efc2047129486e63747a&quot;);"></div>
                                        <div class="channel-banner__main-desc">
                                            <div>Giảm đến 40K</div>
                                        </div>
                                        <div class="channel-banner__sub-desc">Ưu đãi Ví ShopeePay</div>
                                    </div>
                                </div>
                                <div class="bank-transfer-category">
                                    <div class="bank-transfer-category__body">
                                        <div class="checkout-bank-transfer-item checkout-bank-transfer-item--disabled">
                                            <div class="stardust-radio" tabindex="0" role="radio" aria-checked="false" aria-disabled="false">
                                                <div class="stardust-radio-button">
                                                    <div class="stardust-radio-button__outer-circle">
                                                        <div class="stardust-radio-button__inner-circle"></div>
                                                    </div>
                                                </div>
                                                <div class="stardust-radio__content">
                                                    <div class="stardust-radio__label">
                                                        <div class="checkout-bank-transfer-item__card">
                                                            <div class="checkout-bank-transfer-item__icon-container">
                                                                <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/37110bc844b571f80e7dd14beb5415e9.png" class="checkout-bank-transfer-item__icon">
                                                            </div>
                                                            <div class="checkout-bank-transfer-item__main">
                                                                <div class="checkout-bank-transfer-item__title">Ví ShopeePay Số dư</div>
                                                                <div class="checkout-bank-transfer-item__subtitle">₫805.062</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bank-transfer-category">
                                    <div class="bank-transfer-category__body">
                                        <div class="checkout-bank-transfer-item">
                                            <div class="stardust-radio" tabindex="0" role="radio" aria-checked="false">
                                                <div class="stardust-radio-button">
                                                    <div class="stardust-radio-button__outer-circle">
                                                        <div class="stardust-radio-button__inner-circle"></div>
                                                    </div>
                                                </div>
                                                <div class="stardust-radio__content">
                                                    <div class="stardust-radio__label">
                                                        <div class="checkout-bank-transfer-item__card">
                                                            <div class="checkout-bank-transfer-item__icon-container">
                                                                <img src="http://cdn.airpay.vn/images_v1/c134/icon_c13401_v001.png" class="checkout-bank-transfer-item__icon">
                                                            </div>
                                                            <div class="checkout-bank-transfer-item__main">
                                                                <div class="checkout-bank-transfer-item__title">VCB</div>
                                                                <div class="checkout-bank-transfer-item__subtitle checkout-bank-account-item__number">*7533</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="KqH1Px">
                    @*<div class="lhwDvd Exv9ow c5Dezq">Tổng tiền hàng</div> tổng tiền hàng (chưa + ship)*@
                    @*<div class="lhwDvd Uu2y3K c5Dezq">₫2.400.000</div>*@
                    <div class="lhwDvd Exv9ow B6k-vE">Phí vận chuyển</div>
                    <div class="lhwDvd Uu2y3K B6k-vE">₫50.000</div>
                    <div class="lhwDvd Exv9ow lvfiUV">Tổng thanh toán:</div>
                    <div class="lhwDvd +0tdvp Uu2y3K lvfiUV">₫@String.Format("{0:0,0 }", ViewBag.TongTien)</div>
                    <div class="Ql2fz0">
                        <div class="FXKjae">
                            <div class="gLbpKW">
                                Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo
                                <a href="/portal/article" target="_blank" rel="noopener noreferrer">Điều khoản của Nông Sản Zeno</a>
                            </div>
                        </div>
                        <input class="stardust-button stardust-button--primary stardust-button--large gG-FcK _5POGMB" type="submit" value="Đặt Hàng" />
                        <!--<button class="stardust-button stardust-button--primary stardust-button--large gG-FcK _5POGMB" type="submit" value="Đặt Hàng">-->
                        @*Đặt hàng*@
                        <!--</button>-->
                    </div>
                </div>
            </div>
        </div>
    }
</div>