@model NongSanZeno.Models.tbKhachHang
@{
    ViewBag.Title = "Thongtintk";
    Layout = "~/Views/Layout/_LayoutUser.cshtml";
}
<div class="text-center mb-5">
    <h3 class="text-uppercase">THÔNG TIN CỦA BẠN</h3>
</div>
<form action="#" method="post">
    <div class="form-group first">
        <label>
            Tên khách hàng: @Html.DisplayFor(model => model.TenKH)
        </label>
        <label>
            Tên Đăng Nhập: @Html.DisplayFor(model => model.TaiKhoan)
        </label>
        <label>
            Email: @Html.DisplayFor(model => model.Email)
        </label>
        <br />
        <label>
            Số điện thoại: @Html.DisplayFor(model => model.DienThoaiKH)
        </label>
        <br />
        <label>
            Dịa Chỉ: @Html.DisplayFor(model => model.DiaChiKH)
        </label>
    </div>

    <div>
        <input type="submit" value="Chỉnh sửa thông tin" class="btn btn-block py-2 btn-primary">
    </div>
</form>

