
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Layout/_Layout1.cshtml";
}

@*<link rel="stylesheet" href="~/Content/Cart/bundle.771defbd521b8480.css">
<link rel="stylesheet" href="~/Content/Cart/x3.65c58097.50478c53b08055d3ddc5.css">
<link rel="stylesheet" href="~/Content/Cart/pcmall-productdetailspage.c5a3af1be0108945276b.legacy.css">
<link rel="stylesheet" href="~/Content/Cart/HomeOfficialShopSection.ec62e6cc621fd63669d7.css">
<link rel="stylesheet" href="~/Content/Cart/573.85c4a2a3de2976247d70.legacy.css">
<link rel="stylesheet" href="~/Content/Cart/88.822806d9830fa7fa8c55.legacy.css">
<link rel="stylesheet" href="~/Content/Cart/670.db82ed957dff86f4875a.legacy.css">
<link rel="stylesheet" href="~/Content/Cart/549.c75d2a5ec7aa42eab38c.legacy.css">
<link rel="stylesheet" href="~/Content/Cart/PageProductBelowTheFold.fa15e9e9f6a25dcc0597.legacy.css">
<link rel="stylesheet" href="~/Content/Cart/649.e5e34359b351d0bdb6b8.legacy.css">
<link rel="stylesheet" href="~/Content/Cart/pcmall-homepage.f85d6475c4de93381fb0.css">
<link rel="stylesheet" href="~/Content/Cart/vendors.253ae210.5010e7fa6c6e05bd0377.css">
<link rel="stylesheet" href="~/Content/Cart/474.bbd5a011a1c145e1af0a.legacy.css">
<link rel="stylesheet" href="~/Content/Cart/849.0d4705bc202f74f710c1.legacy.css">
<link rel="stylesheet" href="~/Content/Cart/pcmall-cart.ee62cb54bf1e830aff03.css">
<link rel="stylesheet" href="~/Content/Cart/">
<link rel="stylesheet" href="~/Content/Cart/">
<link rel="stylesheet" href="~/Content/Cart/">
<link rel="stylesheet" href="~/Content/Cart/">
<link rel="stylesheet" href="~/Content/Cart/">



<link rel="stylesheet" href="~/Content/Cart/9148.2239f6440e3346ae.css">
<link rel="stylesheet" href="~/Content/Cart/6185.e976c928ead1b370.css">
<link rel="stylesheet" href="~/Content/Cart/1714.89473d0cae7fbe83.css">
<link rel="stylesheet" href="~/Content/Cart/4237.10ec744b41d5b084.css">
<link rel="stylesheet" href="~/Content/Cart/2601.49ec27198e45bed5.css">
<link rel="stylesheet" href="~/Content/Cart/7464.9b744d99d42b7c54.css">
<link rel="stylesheet" href="~/Content/Cart/5823.825bbbd5ad2a3966.css">
<link rel="stylesheet" href="~/Content/Cart/1179.d5dff76d181a796c.css">
<link rel="stylesheet" href="~/Content/Cart/pcmall-microsite.7083c22b247a2a5e2d33.legacy.css">
<link rel="stylesheet" href="~/Content/Cart/x3.65c58097.50478c53b08055d3ddc5.css">*@


<h2>THÔNG TIN CHI TIẾT SẢN PHẨM</h2>
<div>
    <div style="width:40%; float:left; border-left:dotted 1px; border-color:azure">
        <img src="~/images/sanpham/@Model.AnhSP" width="100%" />
    </div>
    <div style="width:60%; float:left; padding:10px">
        <h4 style="font-weight:bold; color:red">
            Tên sản phẩm: @Model.TenSP
        </h4>
        <p style="text-align:justify">
            <span style="font-weight:bold">
                Mô tả:
            </span>
            @Model.MoTa
        </p>
        <p style="font-weight:bold">
            Giá bán:
            <span style="color:red; font-size:16pt">
                @Model.GiaBan VNĐ
            </span>
        </p>
    </div>
    <div id="Datmua">
        <a href="@Url.Action("ThemGiohang", "GioHang", new {@masp = @Model.MaSP, @strURL=Request.Url.ToString() })">
            ĐẶT MUA
        </a>
    </div>
</div>


<style type="text/css">
    #Datmua a {
        clear: both;
        background-color: red;
        color: white;
        width: 120px;
        height: 35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }

        #Datmua a:hover {
            background-color: gray;
            color: red;
        }
</style>