@model IEnumerable<NongSanZeno.Models.tbChiTietDonHang>

@{
    ViewBag.Title = "ChiTietdonhang";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<table class="table">
    <tr style="text-align:center">
        <th>
            @Html.DisplayName("Mã Đơn Hàng")
        </th>
        <th>
            @Html.DisplayName("Mã Sản Phảm")
        </th>
        <th>
            @Html.DisplayName("Tên Sản Phẩm")
        </th>
        <th>
            @Html.DisplayName("Ảnh")
        </th>
        <th>
            @Html.DisplayName("Số Lượng")
        </th>
        <th>
            @Html.DisplayName("Đơn Giá")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.tbDonHang.MaDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbSanPham.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbSanPham.TenSP)
            </td>
            <td>
                <img src="~/images/sanpham/@Html.DisplayFor(modelItem => item.tbSanPham.AnhSP)" alt="Alternate Text" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                ₫@String.Format("{0:0,0 }", item.DonGia)
            </td>
            <td>
                @*<a href="@Url.Action("XoaChiTietdonhang","AdminDonHang", new { id = item.MaDH })">Xoá</a>*@
                @Html.ActionLink("Xóa", "XoaChiTietdonhang", new { id = item.MaDH }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>
<div class="space" style="display:flex;justify-content:space-around">
    <a class="return" href="@Url.Action("DSdonhang","AdminDonHang")">TRỞ VỀ</a>
</div>

<style>
    .btn-success {
        color: #fff;
        background-color: #006400;
        border-color: #006400;
    }
    table {
        width: 100%;
        margin-bottom: 50px;
    }

    th {
        height: 50px;
        background: #fbffdf;
        color: black;
        text-transform: uppercase;
    }

    td {
        text-align: center;
    }

    th, td {
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    img {
        width: 100px;
        height: 100px;
        margin-right: -100px;
    }

    tr {
        color: #777;
        font-weight: bold;
    }

        tr:hover {
            background-color: #777;
            transition: 0.5s ease all;
            color: white;
        }

    .return {
        color: white;
        background: #4e4e22;
        border: none;
        outline: none;
        padding: 1% 5% 1% 5%;
        font-size: 1em;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
        border-radius: 30px;
    }

        .return:hover {
            color: white;
            background: #958d5b;
        }

    @@media(max-width: 1024px) {
        img {
            width: 250px;
            height: 150px;
        }

        .return {
            margin-left: 32%;
        }
    }

    @@media(max-width: 780px) {
        th, td {
            padding-left: 20px;
            padding-right: 0px;
        }

        img {
            width: 250px;
            height: 150px;
        }

        .return {
            margin-left: 30%;
        }
    }

    @@media(max-width: 430px) {
        table {
            font-size: 12px;
        }

        th, td {
            padding-left: 20px;
            padding-right: 10px;
        }

        img {
            width: 150px;
            height: 100px;
        }

        .return {
            margin-left: 20%;
        }
    }

    @@media(max-width: 380px) {
        table {
            font-size: 10px;
        }

        th, td {
            padding-left: 10px;
            padding-right: 20px;
        }

        img {
            width: 100px;
            height: 80px;
        }

        .return {
            margin-left: 15%;
        }
    }

    @@media(max-width: 320px) {
        table {
            font-size: 8px;
        }

        th, td {
            padding-left: 0px;
            padding-right: 0px;
        }

        .return {
            font-size: 14px;
            margin-left: 8%;
        }
    }
</style>