@model NongSanZeno.Models.tbDonHang

@{
    ViewBag.Title = "Suadonhang";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/Content/Admin/admin.css">

<hr />
<h2 style="font-size: 26px; text-align: center;">Điều Chỉnh Thông Tin Đơn Hàng</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaDH)

        <div class="form-group">
            Số Điện Thoại
            <div class="col-md-10">
                <input required type="text" name="TenSP" value="@Model.SDT" />
            </div>
        </div>

        <div class="form-group">
            Địa Chỉ
            <div class="col-md-10">
                <input required type="text" name="DiaChi" value="@Model.DiaChi" />
            </div>
        </div>

        <div class="form-group">
            Ghi Chú
            <div class="col-md-10">
                <textarea required name="GhiChu" rows="10" cols="40">@Model.GhiChu</textarea>
            </div>
        </div>

        <div class="form-group">
            Tổng Tiền
            <div class="col-md-10">
                <input required type="text" name="TongTien" value="@Model.TongTien" />
            </div>
        </div>
        <div class="form-group">
            Ngày Đặt
            <div class="col-md-10">
                <p style="color:black">@String.Format("{0:dd/MM/yyyy}", Model.NgayDat)</p>              
            </div>
        </div>
        <div class="form-group">
            Ngày Giao
            <div class="col-md-10">
                <p style="color:black">@String.Format("{0:dd/MM/yyyy}", Model.NgayGiao)</p>
                <input required type="date" name="NgayGiao" value="@Model.NgayGiao" />
            </div>
        </div>
        <div class="form-group">
            Tình Trạng Đơn Hàng
            <div class="col-md-10">
                @Html.DropDownList("TTDH")
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div><input style="font-weight: bold" type="submit" value="Lưu" class="btn btn-default" /></div>
            <div class="btn btn-default" style="font-weight:bold; color:white"><a href="/AdminDonHang/DSdonhang">Quay Lại</a></div>
        </div>
    </div>
}

<style>
    /*@@media(max-width: 1040px) {
        .return {
            margin-left: 28%;
            padding: 0.7em 135px;
            margin-top: 0px;
            width: 44%;
        }
    }

    @@media(max-width: 780px) {


        .return {
            margin-left: 28%;
            padding: 0.7em 75px;
            margin-top: 0px;
            width: 44%;
        }
    }

    @@media(max-width: 430px) {


        .return {
            margin-left: 28%;
            margin-top: 0px;
            width: 44%;
            padding: 0.7em 55px;
        }
    }

    @@media(max-width: 380px) {
        .return {
            margin-left: 28%;
            margin-top: 0px;
            width: 44%;
            padding: 0.7em 49px;
        }
    }

    @@media(max-width: 320px) {
        .return {
            margin-left: 28%;
            margin-top: 0px;
            width: 45%;
            padding: 0.7em 38px;
        }
    }*/
</style>